<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{'Collectors' | translate}}
      <div class="card-header-actions">
        <button class="btn btn-primary btn-sm active" [routerLink]="['create']">
          {{'Add' | translate}}
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-3" *ngIf="!showSpinnner">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="{{'Search by name' | translate}}"/>
          </div>
        </div>
      </div>

      <div class="sk-wave" *ngIf="showSpinnner" >
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>

      <table *ngIf="!showSpinnner" class="table table-bordered table-hover table-responsive-lg" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="collector_id">{{'Collector Id' | translate}}</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="name">{{'Name' | translate}}</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="email">{{'Email' | translate}}</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="email">{{'Username' | translate}}</mfDefaultSorter>
            </th>
            <!-- <th style="width: 10%">
              <mfDefaultSorter by="id_copy">ID Copy</mfDefaultSorter>
            </th> -->
            <th >
              <mfDefaultSorter by="dob">{{'Date of Birth' | translate}}</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="id_number">{{'ID No.' | translate}}</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="start_date">{{'Start Date' | translate}}</mfDefaultSorter>
            </th>
            <th >
              <mfDefaultSorter by="city">{{'Action' | translate}}</mfDefaultSorter>
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data" (click)="enableField(item.id)">
            <td >{{item.id}}</td>
            <td >{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.username}}</td>
            <!-- <td class="text-left"></td> -->
            <td>{{item.dob}}</td>
            <td>{{ item.id_number}}</td>
            <td>{{ item.start_date}}</td>
            <td>
              <button (click)="dangerModal.show(); setCurrentId(item.id,item)" class="btn btn-danger btn-sm mr-1" data-toggle="modal" type="button">
                {{'Delete' | translate}}
              </button>
              <a [routerLink]="['edit', item.id]" class="btn btn-sm btn-primary active">{{'Edit' | translate}}</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
      <!-- <div>{{fields|json}}</div> -->
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="card">
          <div class="card-header">
            {{'Collector Fee' | translate}}: 
            <div class="card-header-actions">
              <button [disabled]="isDisable" [ladda]='feeSaveloader' type="submit" class="btn btn-pill btn-block btn-primary active">
                {{'Save' | translate}}
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered"  *ngIf="!showChildSpinnner">
              <thead>
                <tr>
                  <th>{{'Start amount' | translate}}</th>
                  <th>{{'End amount' | translate}}</th>
                  <th>{{'Comission' | translate}}(%)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of fields; let index = index">
                  <td>
                    <input [disabled]="isDisable" required type="text" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="fields[index].start_percentage" class="form-control"/></td>
                  <td>
                    <input [disabled]="isDisable" required type="text"
                     [ngModelOptions]="{standalone: true}" [(ngModel)]="fields[index].end_percentage" class="form-control"/>
                    </td>
                  <td>
                    <input [disabled]="isDisable" required type="text"
                     [ngModelOptions]="{standalone: true}"  [(ngModel)]="fields[index].comission" class="form-control"/>
                    </td>
                </tr>

              </tbody>
            </table>
            <div class="sk-wave" *ngIf="showChildSpinnner" >
              <div class="sk-rect sk-rect1"></div>
              <div class="sk-rect sk-rect2"></div>
              <div class="sk-rect sk-rect3"></div>
              <div class="sk-rect sk-rect4"></div>
              <div class="sk-rect sk-rect5"></div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Delete User' | translate}}</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'Are you sure want to delete this collector ?' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">{{'No' | translate}}</button>
        <button (click) = "deleteProduct(currentId)" type="button" class="btn btn-danger btn-ladda" [ladda]='isLoadingDelete'>{{'Yes' | translate}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->