<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{'Collected History' | translate}}
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>{{'Collector Name' | translate}}</th>
                <th>{{'Amount of Day' | translate}}</th>
                <th>{{'Amount of Month' | translate}}</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{'How are you' | translate}}</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>{{'Wahab' | translate}}</td>
                <td>0</td>
                <td>0</td>
              </tr>

            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">{{'Prev' | translate}}</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">{{'Next' | translate}}</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
