<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-note"></i> {{'Client Edit' | translate}}
          <div class="card-header-actions">
             <button (click)="back()" class="btn btn-block btn-info btn-sm">{{'Back' | translate}}</button>
          </div>
        </div>
          <div class="card-body">
            <form [formGroup]="angForm" novalidate>
              <div class="form-group">
                <label for="name" class="col-form-label">{{'Name' | translate}}</label>
                <input type="text" class="form-control" 
                  formControlName="name" 
                  [(ngModel)] = "collector.name"
                  #name />
              </div>
              <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['name'].errors.required">
                  {{'Name field is required' | translate}}.
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">{{'Email' | translate}}</label>
                <input type="text" class="form-control" 
                  formControlName="email" 
                  [(ngModel)] = "collector.email"
                  #email />
              </div>
              <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['email'].errors.required">
                  {{'Email field is required' | translate}}.
                </div>
                <div *ngIf="angForm.controls['email'].errors.email">
                  {{'Please enter valid email address' | translate}}.
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">{{'Phone' | translate}}</label>
                <input type="text" class="form-control" 
                  formControlName="phone" 
                  [(ngModel)] = "collector.phone"
                  #phone />
              </div>
              <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['phone'].errors.required">
                  {{'Phone field is required' | translate}}.
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">{{'Address' | translate}}</label>
                <input type="text" class="form-control" 
                  formControlName="address" 
                  [(ngModel)] = "collector.address"
                  #address />
              </div>
              <div *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['address'].errors.required">
                  {{'Address field is required' | translate}}.
                </div>
              </div>

              <div>
                <table class="table table-bordered" >
                  <thead>
                    <tr>
                      <th>{{'Start Amount' | translate}}</th>
                      <th>{{'End Amount' | translate}}</th>
                      <th>{{'Percentage(Without Legal:With Doc)' | translate}}</th>
                      <th>{{'Percentage(Without Legal:Without Doc)' | translate}}</th>
                      <th>{{'Percentage(With Legal:With Doc)' | translate}}</th>
                      <th>{{'Percentage(With Legal:Without Doc)' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>  
                    <tr *ngFor="let item of fields; let index = index" >
                      <td>
                        <input [disabled]="isDisable" required type="text" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="fields[index].start_amount" class="form-control"/></td>
                      <td>
                        <input [disabled]="isDisable" required type="text"
                         [ngModelOptions]="{standalone: true}" [(ngModel)]="fields[index].end_amount" class="form-control"/>
                        </td>
                      <td>
                        <input [disabled]="isDisable" required type="text"
                         [ngModelOptions]="{standalone: true}"  [(ngModel)]="fields[index].percentage_with_doc_without_legal" class="form-control"/>
                      </td>
                      <td>
                        <input [disabled]="isDisable" required type="text"
                         [ngModelOptions]="{standalone: true}"  [(ngModel)]="fields[index].percentage_without_doc_without_legal" class="form-control"/>
                      </td>
                      <td>
                        <input [disabled]="isDisable" required type="text"
                         [ngModelOptions]="{standalone: true}"  [(ngModel)]="fields[index].percentage_with_legal_with_doc" class="form-control"/>
                      </td>
                      <td>
                        <input [disabled]="isDisable" required type="text"
                         [ngModelOptions]="{standalone: true}"  [(ngModel)]="fields[index].percentage_with_legal_without_doc" class="form-control"/>
                      </td>
                    </tr>
    
                  </tbody>
                </table>
              </div>


              <div class="form-group">
                  <button [ladda]='loading' (click) = "update(name.value,email.value,phone.value,address.value)" type="submit" class="btn btn-primary"
                  [disabled]="angForm.invalid" >
                  {{'Submit' | translate}}
                  </button>
                  <button class="btn btn-danger" type="reset" >{{'Reset' | translate}}</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>